.commentList {
    text-align: center;
    margin: 10px auto;
    border: 1px;
    border-radius: 7px;
    width: 75%;
    padding: 20px;
    padding-top: 0;
}

.topComment {
    display: flex;
    align-items: center;
}

.date {
    margin-left: 5px;
    font-size: 12px;
}

.avatar {
    margin-right: 5px;
}

.content {
    margin: 20px 0;
    text-align: left;
}

.bottom {
    display: flex;
    justify-content: left;
}

.arrow {
    margin-right: 0;
    cursor: pointer;
    width: 20px;
}

.arrow:active {
    transform: scale(1.2);
  }

.commentList:hover {
    background-color: #F6F8F9;
}
