.postList {
    margin: 10px auto;
    border: 1px;
    border-radius: 7px;
    width: 80%;
    padding: 20px;
    padding-top: 5px;    
}

.postList:hover {
    background-color: #F6F8F9;
}

.postList:first-child {
    margin-top: 75px;
}

h2 {
    margin-top: 20px;
}

.topPost {
    display: flex;
    align-items: center;
}
.date {
    margin-left: 5px;
    font-size: 12px;
}

.avatar {
    margin-right: 5px;
    width: 30px;
}

.subreddit {
    margin-left: auto;
}

.content {
    margin: 15px 0;
    text-align: left;
}

.media {
    display: flex;
    margin: 15px auto;
    width: 80%;
}

.bottom {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
    align-items: center;
}

.upvotes {
    display: flex;
    align-items: center;
}

.arrow {
    margin-right: 0;
    cursor: pointer;
    width: 20px;
}

.arrow:active {
    transform: scale(1.2);
  }

.comment {
    display: flex;
}

.commentIcon {
    width: 20px;
    margin-right: 7px;
}

hr {
    border: none;
    height: 1px;
    background-color: #00000019;
    width: 82%;
    margin: auto;
}
